@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Arimo);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Anton);

* {
	margin:0;
	padding:0;
}

body{
	background-image:url('Images/gloomynyc2.jpg');
	background-size: cover;
	background-position:center;
}

nav li{
	list-style: none;
	padding: 10px;

}

nav a {
	color: #fff;
	text-decoration: none;
}

nav a:hover{
	color: #fff;
	text-decoration: none;
	
}

nav li a:visited {
	color: #fff;
	text-decoration: none;
}


.nav-toggle {
	position: relative;
	color: #fff;


}


.main-navigation {
	position: absolute;
	top:0;
	left:0;
	width: 100px;
	height: 100px;
	text-align: center;
	transform: translateY(-210%);
	transition: transform 0.6s ease;
}

.main-navigation.open {
	transform: translateY(50%);
}



.nav-links {
	border: solid #fff 2px;
	background: rgba(0, 0, 0, 0.5);


	
}


header {
	/*background-image:url('Images/gloomynyc3.jpg');*/
	height:100vh;
	/*background-size: cover;
	background-position:center;*/
	color: #fff;
	margin-bottom:50px;
	margin-top: -30px;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;



}


.name {
	font-family:'Anton', sans-serif;
	font-size: 50px;
	}

.title {
	font-family: 'Arimo', sans-serif;
	font-size: 25px;
	border: solid #fff 2px;
	padding:25px;
	display:inline-block;
	/*background-color: #595C61;
*/
}

.section-title {
	font-family: Lobster , sans-serif;
	color: #fff;
}

.list-group {
	position: absolute;
	top:0;
	right:0;
	color:#fff;
	

}

.social-links li{
	list-style: none;
	display: inline;
	padding: 10px;

}

.inner-content {
	background-color:#373737;
	margin-top: -50px;
	background-size: cover;
	background-position:center;
	
}


.about-content {
	color: #fff;
	font-family: 'Arimo', sans-serif;
	font-size: 1.3em;
	border: solid #fff 2px;
	padding:25px;
	display:inline-block;
/*	background-color: #595C61;
	background: rgba(0, 0, 0, 0.5);*/

}

.img-circle {
	border: solid #fff 10px;
}

.inner-content, .col-md-12{
	background: rgba(0, 0, 0, 0.7);
}

.col-md-3 {
	text-align: center;
	/*border: solid #fff;
	background: rgba(0, 0, 0, 0.7);*/


}

.col-md-3 h3 {
	border: solid #fff 2px;
	padding: 10px;
}

.col-md-3 li {
	list-style: none;
}

#resume-button {
	border:  solid #fff 2px;
	padding: 10px;
	display: inline-block;
	/*background: rgba(0, 0, 0, 0.7);*/
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;

}
#resume-button:hover {
	background-color:#fff;
	color: #000;
	cursor:pointer;
	
}

.skills-content {
	/*background-image: url('Images/oldnyc2.jpg');
	background-size: cover;
	background-position:center;*/
	background-color: #484848;
	margin-top: 0;
	font-family: 'Arimo', sans-serif;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
}

.skill-bar span{
	display: table;
	height: 1px;
	background-color: #fff;

}

.portfolio-content {
	/*background-image: url('Images/subway_tiles.jpg');
	background-size: cover;
	background-position:center;*/
	/*background-color:#C427D9;*/
	margin-top: 0;
}

.project-info {
	background: rgba(0, 0, 0, 0.7);
	border: solid #fff 2px;
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item{
  display: inline-block;
  width: 100%;
  height: auto;
}


.item img {
	height:auto;
	width: 100%;
	border: solid #fff;

}

.project-info {
	padding-left: 30px;
	color: #fff;
}

.project-info {
 font-family: 'Arimo', sans-serif;
}

.project-info h1 {
	font-family: 'Anton', sans-serif;
}

.project-meta h3 {
	font-weight:bold;
}

.project-meta li {
	list-style: none;
}

.key-highlights li {
	list-style: circle;
}

.links span{
	border: solid #fff 2px;
	padding: 10px;
	display: inline-block;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;


}

.links span:hover {
	cursor:pointer;
	color:#000;
	background-color: #fff;
}

.contact-content {
	/*background-image: url('Images/80snyc3.jpg');
	background-size: cover;
	background-position:center;*/
	background-color:#373737;
	color: #fff;
	font-family: 'Arimo', sans-serif;
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.7);


}

#contact-content {
	border: solid #fff 2px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;

}

#contact-content a {
	color: #fff;
	text-decoration: none;
}

.input-wrap {
	font-family: 'Arimo', sans-serif;
	/*background: rgba(0, 0, 0, 0.7);
*/



}


.form-control {
	background-color: transparent;
	border: solid #fff 2px;
	border-radius: 0;
	color: #fff;
}

.form-control:focus {
  border-color: #fff;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}

#button {
	background-color: transparent;
	border: solid #fff 2px;
	padding:20px;
	width:100%;
	font-family: 'Arimo', sans-serif;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	/*background: rgba(0, 0, 0, 0.7);
*/
}

#button:hover {
	background-color:#fff;
	color: #272829;
}

footer {
	/*background-image: url('Images/nycwall1.jpg');
	background-size: cover;
	background-position:bottom;*/
	color:#fff;
	font-family: 'Arimo', sans-serif;
	font-size: 1.5em;

}

footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover, a:visited{
	color: #fff;
	text-decoration: none;
}

.footer-social-links li {
	list-style: none;
	display: inline-block;
	padding: 10px;
}

#footer-center {
	/*border: solid #fff;*/
	/*background: rgba(0, 0, 0, 0.7);*/
}

@media only screen /*iPhone 4 and iphone 4s */
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {



  	.title {
  		font-size: 1em;
  		padding: 10px;
  	}

  	.name {
  		font-size: 2.5em;
  	}

  	#logo {
  		width: 75px;
  		height: 75px;
  	}

  	.list-group li{
  		display: block;
  	}

  	.nav-toggle, .main-navigation, .list-group {
  		display: none;
  	}

  	#header {
  	position: relative;
  	top: 30em;
  	
  	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
 								{
	.title {
  		font-size: 1em;
  		padding: 10px;
  	}

  	.name {
  		font-size: 2.5em;
  	}

  	#logo {
  		width: 75px;
  		height: 75px;
  	}

  	.list-group li{
  		display: block;
  	}


}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  							 { 
.title {
  		font-size: 1em;
  		padding: 10px;
  	}

  	.name {
  		font-size: 2.5em;
  	}

  	#logo {
  		width: 100px;
  		height: 100px;
  	}

  	.list-group li{
  		display: block;
  	}



}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

  	.title {
  		font-size: 1em;
  		padding: 10px;
  	}

  	.name {
  		font-size: 2.5em;
  	}

  	#logo {
  		width: 100px;
  		height: 100px;
  	}

  	.list-group li{
  		display: block;
  	}



}
