@import url(https://fonts.googleapis.com/css?family=Arimo);


* {
	margin:0;
	padding:0;
}

body {
	background-image:url('Images/oldnyc3.png');
	height:100vh;
	background-size: cover;
	background-position:center;
	color: white;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
}

h1 {
	border: solid #fff;
	color: #fff;
	font-family: 'Arimo', sans-serif;
	padding: 50px;
	background: rgba(0, 0, 0, 0.7)

}